.aboutUs {
	width: 100vw;
	margin-top: 30px;
	border-top: 1px solid white;
	border-radius: 35px 35px 0 0;
	background: #fff;

	.info {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 20px;
	}

	.hero {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 45px;
	}

	.image {
		border-radius: 15px;
		background-position: right;
		background-repeat: no-repeat;
	}

	#spain {
		background-image: url('../../../../public/испанский пейзаж.png');
		width: 610px;
		height: 684px;
	}

	#personsGroup {
		width: 144px;
		height: 144px;
		margin-right: 60px;
		margin-left: 100px;
		background-image: url('../../../../public/group of persons.png');
	}

	#dart {
		width: 144px;
		height: 144px;
		margin-right: 60px;
		margin-left: 100px;
		background-image: url('../../../../public/dart.png');
	}

	#hands {
		width: 144px;
		height: 144px;
		margin-right: 60px;
		margin-left: 100px;
		background-image: url('../../../../public/handshake.png');
	}

	#map {
		width: 144px;
		height: 144px;
		margin-right: 60px;
		margin-left: 100px;
		background-image: url('../../../../public/map.png');
	}

	.image {
		margin-top: 40px;
	}

	h2 {
		color: #0b2c7f;
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	p {
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: 34px;
	}
}

@media (max-width: 1024px) {
	.aboutUs {
		margin-top: 100px;
	}

	.hero {
		align-items: flex-start;
		justify-content: flex-start;

		h2 {
			font-size: 30px;
			font-style: normal;
			line-height: normal;
		}

		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 25px; /* 125% */
		}
	}

	#spain {
		flex: 1;
		height: 400px;
	}
}

@media (min-width: 641px) {
	.info {
		margin-top: 125px;
		margin-bottom: 25px;
	}
}

@media (max-width: 640px) {
	#first {
		margin-top: 40px;
	}

	.phones {
		p {
			display: none;
		}
	}

	.info {
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		gap: 0;

		#spain {
			margin-top: -40px;
			flex: 1;
			padding-top: 270px;
			width: 100%;
			height: 270px;
		}

		h2 {
			padding: 0 15px;
			font-size: 20px;
		}

		p {
			padding: 0 15px;
			margin-top: -30px;
			font-size: 15px;
			line-height: 20px; /* 133.333% */
			.image {
				right: 0;
				margin-right: 0;
				margin-left: 0;
				float: right;
			}

			#personsGroup {
				width: 144px;
				height: 144px;
				margin-right: 0;
				margin-left: 0;
				background-image: url('../../../../public/group of persons.png');
			}

			#dart {
				width: 144px;
				height: 144px;
				margin-right: 0;
				margin-left: 0;
				background-image: url('../../../../public/dart.png');
			}

			#hands {
				width: 144px;
				height: 144px;
				margin-right: 0;
				margin-left: 0;
				background-image: url('../../../../public/handshake.png');
			}

			#map {
				width: 144px;
				height: 144px;
				margin-right: 0;
				margin-left: 0;
				background-image: url('../../../../public/map.png');
			}
		}

		.spell {
			.hero {
				display: block;
			}
		}
	}
}
