.footer {
	padding-top: 100px;
	color: white;
	border-top: 1px white solid;
	background: #04102f;

	p {
		padding-bottom: 10px;
		text-align: center;
		color: rgba(255, 255, 255, 0.24);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.12px;
	}

	.link {
		text-align: left;
		color: #FFF;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 136.523%; /* 27.305px */
		letter-spacing: 0.2px;
	}
}

.footerBlock {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 30px;

	.address {
		color: #fff;
		letter-spacing: 0.2px;
		flex: 1;
		color: #fff;
		font-size: 20px;
		font-style: regular;
		font-weight: 300;
		line-height: 136.523%;
		letter-spacing: 0.2px;
	}

	.contacts {
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex: 1;
		color: #fff;
		text-align: left;
		font-size: 20px;
		font-style: regular;
		font-weight: 400;
		line-height: 22.5px; /* 112.5% */
		letter-spacing: -0.2px;
	}

	.telegram {
		display: flex;
		justify-content: flex-end;
		flex: 1;
		transition: all 0.3 ease-in-out;
	}

	.telegramIcon {
		transition: all 0.3 ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}
