* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth !important;
}

a {
	text-decoration: none;
	color: white;
}

body {
	overflow-x: hidden;
}

input :active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

ol {
	padding-left: 40px;
	margin: 0;
}

ul {
	padding-left: 40px;
	margin: 0;
}

li {
	padding-left: 10px;
	margin-left: -10px;
}
