* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
}

a {
    color: white;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: transparent 2px solid;
}

a:hover {}

body {
    overflow-x: hidden;
}

input :active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

ol {
    padding-left: 40px;
    margin: 0;
}

ul {
    padding-left: 40px;
    margin: 0;
}

li {
    padding-left: 10px;
    margin-left: -10px;
}
