.service {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 45px;
	padding-right: 45px;
	border-radius: 20px;
	border: 2px solid #d58001;
	background: #fff;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background: #d58001;
		transform: scale(1.01);

		h3 {
			color: white;
		}

		p {
			color: white;
		}
	}

	&:active {
		transform: scale(1.01);
	}

	h3 {
		color: #d58001;
		font-size: 30px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.price {
		text-align: right;
	}

	p {
		color: #000;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

@media (max-width: 1024px) {
	.service {
		h2 {
			font-size: 20px;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 0.2px;
		}

		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 25px; /* 125% */
			letter-spacing: 0.2px;
		}
	}
}

@media (max-width: 1024px) {
	.service {
		padding: 20px 35px;

		p {
			font-size: 20px;
			line-height: 20px; /* 133.333% */
			letter-spacing: 0.2px;
		}

		h3 {
			font-size: 20px;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 0.17px;
		}
	}
}

@media (max-width: 640px) {
	.service {
		padding: 10px 12px;

		p {
			font-size: 15px;
			line-height: 20px; /* 133.333% */
			letter-spacing: 0.15px;
		}

		h3 {
			font-size: 17px;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 0.17px;
		}
	}
}
