.hello {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 105vh;
	background-image: url('../../../../public/axp-photography-l3Dbrq2TrGI-unsplash.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.buttons {
		margin-top: 45px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		flex-direction: column;

		p {
			margin-top: 60px;
			color: #fff;
			font-size: 25px;
			font-style: normal;
			font-weight: 400;
			letter-spacing: 0.25px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}

		#locationIcon {
			height: 42px;
			width: 42px;
			background-image: url('../../../../public/icons/location.png');
		}
	}

	p {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	.phones {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		display: flex;
		gap: 20px;
	}

	header {
		margin-top: -100px;
		display: flex;
		justify-content: space-between;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 25px;
		position: relative;
		font-size: 25px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.25px;
		color: white;
		text-decoration: none;
	}

	a {
		z-index: 2;
		text-decoration: none;
		color: white;
	}

	.logo {
		backdrop-filter: blur(1px);
	}

	.hero {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 70%;
		color: white;

		h1 {
			z-index: 2;
			font-size: 80px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}

		h3 {
			z-index: 2;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}

	.blur {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(11, 44, 127, 0.28);
		filter: blur(129.5px);
		width: 100%;
		height: 100%;
	}
}
