@import '../../styles.module.scss';

.services {
	border-radius: 35px 35px 0px 0px;
	padding-top: 35px;
	padding-bottom: 120px;
	z-index: 6;
	gap: 30px;
	display: flex;
	flex-direction: column;

	h2 {
		color: #0b2c7f;
		font-size: 40px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 70px;
	}
}

.nextSection {
	background: #d58001;

	border-radius: 35px 35px 0px 0px;
	width: 100%;
	height: 35px;
}

@media (max-width: 1024px) {
	.services {
		padding-bottom: 35px;

		h2 {
			font-size: 30px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 45px;
		}

		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 25px; /* 125% */
			letter-spacing: 0.2px;
		}
	}
}

@media (max-width: 430px) {
	.services {
		padding-bottom: 35px;

		h2 {
			font-size: 20px;
			line-height: normal;
			margin-bottom: 15px;
		}
	}
}
